<div class='heading'>
    <div style='float:left;'><h1>CPSC 4300/6300: Applied Data Science</h1></div>
    <img style="float: right; padding-right: 10px; width: 65px" src="https://raw.githubusercontent.com/bsethwalker/clemson-cs4300/main/images/clemson_paw.png"> </div><br>


## Week 2: Introduction to Pandas

**Clemson University**<br>
**Spring 2024**<br>
**Instructor(s):** Nina Hubig <br>
**TA(s):** Samaneh Zamanifard, Boqiang Li


---

In [12]:
""" RUN THIS CELL TO GET THE RIGHT FORMATTING """
import requests
from IPython.core.display import HTML
css_file = 'https://raw.githubusercontent.com/bsethwalker/clemson-cs4300/main/css/cpsc6300.css'
styles = requests.get(css_file).text
HTML(styles)

# Table of Contents 
<ol start="0">
<li> Learning Goals </li>
<li> Loading and Cleaning with Pandas</li>
<li> Parsing and Completing the Dataframe  </li>
<li> Grouping </li>
</ol>

## Learning Goals

About 6,000 odd "best books" were fetched and parsed from [Goodreads](https://www.goodreads.com). The "bestness" of these books came from a proprietary formula used by Goodreads and published as a list on their web site.

We parsed the page for each book and saved data from all these pages in a tabular format as a CSV file. In this lab we'll clean and further parse the data.  We'll then do some exploratory data analysis to answer questions about these best books and popular genres.  


By the end of this lab, you should be able to:

- Load and systematically address missing values, encoded as `NaN` values in our data set, for example, by removing observations associated with these values.
- Parse columns in the dataframe to create new dataframe columns.
- Use groupby to aggregate data on a particular feature column, such as author.

### Basic EDA workflow

The basic workflow is as follows:

1. **Build** a DataFrame from the data (ideally, put all data in this object)
2. **Clean** the DataFrame. It should have the following properties:
    - Each row describes a single object
    - Each column describes a property of that object
    - Columns are numeric whenever appropriate
    - Columns contain atomic properties that cannot be further decomposed
3. Explore **global properties**. Use histograms, scatter plots, and aggregation functions to summarize the data.
4. Explore **group properties**. Use groupby and small multiples to compare subsets of the data.

This process transforms your data into a format which is easier to work with, gives you a basic overview of the data's properties, and likely generates several questions for you to followup in subsequent analysis.

## Part 1: Loading and Cleaning with Pandas 
Read in the `goodreads.csv` file, examine the data, and do any necessary data cleaning. 

Here is a description of the columns (in order) present in this csv file:

```
rating: the average rating on a 1-5 scale achieved by the book
review_count: the number of Goodreads users who reviewed this book
isbn: the ISBN code for the book
booktype: an internal Goodreads identifier for the book
author_url: the Goodreads (relative) URL for the author of the book
year: the year the book was published
genre_urls: a string with '|' separated relative URLS of Goodreads genre pages
dir: a directory identifier internal to the scraping code
rating_count: the number of ratings for this book (this is different from the number of reviews)
name: the name of the book
```

Let us see what issues we find with the data and resolve them.  



----




After loading appropriate libraries

In [8]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)

### Cleaning: Reading in the data
We read in and clean the data from `goodreads.csv`.

In [9]:
#Read the data into a dataframe
df = pd.read_csv("goodreads.csv", encoding='utf-8')

#Examine the first few rows of the dataframe
# Examine the first few rows of the dataframe
print(df.head())

   4.40   136455  0439023483  good_reads:book https://www.goodreads.com/author/show/153394.Suzanne_Collins    2008 /genres/young-adult|/genres/science-fiction|/genres/dystopia|/genres/fantasy|/genres/science-fiction|/genres/romance|/genres/adventure|/genres/book-club|/genres/young-adult|/genres/teen|/genres/apocalyptic|/genres/post-apocalyptic|/genres/action                dir01/2767052-the-hunger-games.html    2958974            The Hunger Games (The Hunger Games, #1)
0  4.41  16648.0  0439358078  good_reads:book  https://www.goodreads.com/author/show/1077326....            2003.0  /genres/fantasy|/genres/young-adult|/genres/fi...                                                                                                                                                                                                     dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...  1284478.0  Harry Potter and the Order of the Phoenix (Har...
1  3.56  85746.0  0316015849  good_reads:book  https://www.goodreads.com/author/show/941441.S...            2005.0  /genres/young-adult|/genres/fantasy|/genres/ro...                                                                                                                                                                                                                             dir01/41865.Twilight.html  2579564.0                            Twilight (Twilight, #1)
2  4.23  47906.0  0061120081  good_reads:book  https://www.goodreads.com/author/show/1825.Har...            1960.0  /genres/classics|/genres/fiction|/genres/histo...                                                                                                                                                                                                                 dir01/2657.To_Kill_a_Mockingbird.html  2078123.0                              To Kill a Mockingbird
3  4.23  34772.0  0679783261  good_reads:book  https://www.goodreads.com/author/show/1265.Jan...            1813.0  /genres/classics|/genres/fiction|/genres/roman...                                                                                                                                                                                                                   dir01/1885.Pride_and_Prejudice.html  1388992.0                                Pride and Prejudice
4  4.25  12363.0  0446675539  good_reads:book  https://www.goodreads.com/author/show/11081.Ma...            1936.0  /genres/classics|/genres/historical-fiction|/g...                                                                                                                                                                                                                   dir01/18405.Gone_with_the_Wind.html   645470.0                                 Gone with the Wind

Oh dear. That does not quite seem to be right. We are missing the column names. We need to add these in! But what are they?

Here is a list of them in order:

`["rating", 'review_count', 'isbn', 'booktype','author_url', 'year', 'genre_urls', 'dir','rating_count', 'name']`

<div class="exercise"><b>Exercise 1</b></div>
Use these to load the dataframe properly! And then "head" the dataframe... (you will need to look at the read_csv docs)

In [11]:
import pandas as pd

# Load the data from the CSV file
columns = ["rating", "review_count", "isbn", "booktype", "author_url", "year", "genre_urls", "dir", "rating_count", "name"]
df = pd.read_csv("goodreads.csv", encoding='utf-8', names=columns)

# Check the first few rows of the dataframe
print(df.head())

   rating  review_count        isbn         booktype                                         author_url    year                                         genre_urls                                                dir  rating_count                                               name
0    4.40      136455.0  0439023483  good_reads:book  https://www.goodreads.com/author/show/153394.S...  2008.0  /genres/young-adult|/genres/science-fiction|/g...                dir01/2767052-the-hunger-games.html     2958974.0            The Hunger Games (The Hunger Games, #1)
1    4.41       16648.0  0439358078  good_reads:book  https://www.goodreads.com/author/show/1077326....  2003.0  /genres/fantasy|/genres/young-adult|/genres/fi...  dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...     1284478.0  Harry Potter and the Order of the Phoenix (Har...
2    3.56       85746.0  0316015849  good_reads:book  https://www.goodreads.com/author/show/941441.S...  2005.0  /genres/young-adult|/genres/fantasy|/genres/ro...                          dir01/41865.Twilight.html     2579564.0                            Twilight (Twilight, #1)
3    4.23       47906.0  0061120081  good_reads:book  https://www.goodreads.com/author/show/1825.Har...  1960.0  /genres/classics|/genres/fiction|/genres/histo...              dir01/2657.To_Kill_a_Mockingbird.html     2078123.0                              To Kill a Mockingbird
4    4.23       34772.0  0679783261  good_reads:book  https://www.goodreads.com/author/show/1265.Jan...  1813.0  /genres/classics|/genres/fiction|/genres/roman...                dir01/1885.Pride_and_Prejudice.html     1388992.0                                Pride and Prejudice

### Cleaning: Examing the dataframe - quick checks

We should examine the dataframe to get a overall sense of the content. 

<div class="exercise"><b>Exercise 2</b></div>
Lets check the types of the columns. What do you find?

In [14]:
# Check the data types of the columns
print(df.dtypes)

rating          float64
review_count    float64
isbn             object
booktype         object
author_url       object
year            float64
genre_urls       object
dir              object
rating_count    float64
name             object
dtype: object

*your answer here*

Notice that `review_count` and `rating_counts` are objects instead of ints, and the `year` is a float!

There are a couple more quick sanity checks to perform on the dataframe.

In [13]:
print(df.shape)
df.columns

(6000, 10)

Index(['rating', 'review_count', 'isbn', 'booktype', 'author_url', 'year', 'genre_urls', 'dir', 'rating_count', 'name'], dtype='object')

### Cleaning: Examining the dataframe - a deeper look

Beyond performing checking some quick general properties of the data frame and looking at the first $n$ rows, we can dig a bit deeper into the values being stored. If you haven't already, check to see if there are any missing values in the data frame.

Let's see for a column which seemed OK to us.

In [17]:
#Get a sense of how many missing values there are in the dataframe.
print(np.sum([df.rating.isnull()]))
print(np.sum([df.review_count.isnull()]))
print(np.sum([df.isbn.isnull()]))
print(np.sum([df.booktype.isnull()]))
print(np.sum([df.author_url.isnull()]))
print(np.sum([df.year.isnull()]))
print(np.sum([df.genre_urls.isnull()]))
print(np.sum([df.dir.isnull()]))
print(np.sum([df.rating_count.isnull()]))
print(np.sum([df.name.isnull()]))

2
2
477
2
2
7
62
0
2
2

In [15]:
#Try to locate where the missing values occur
df[df.rating.isnull()]

      rating  review_count isbn booktype author_url  year genre_urls                              dir  rating_count name
3643     NaN           NaN  NaN      NaN        NaN   NaN        NaN  dir37/9658936-harry-potter.html           NaN  NaN
5282     NaN           NaN  NaN      NaN        NaN   NaN        NaN     dir53/113138.The_Winner.html           NaN  NaN

How does `pandas` or `numpy` handle missing values when we try to compute with data sets that include them?

We'll now check if any of the other suspicious columns have missing values.  Let's look at `year` and `review_count` first.

One thing you can do is to try and convert to the type you expect the column to be. If something goes wrong, it likely means your data are bad.

Lets test for missing data:

In [16]:
df[df.year.isnull()]

df.year.isnull()
df.shape

(6000, 10)

### Cleaning: Dealing with Missing Values
How should we interpret 'missing' or 'invalid' values in the data (hint: look at where these values occur)? One approach is to simply exclude them from the dataframe. Is this appropriate for all 'missing' or 'invalid' values?

In [24]:
#Treat the missing or invalid values in your dataframe
####### 

df = df[df.year.notnull()]

Ok so we have done some cleaning. What do things look like now? Notice the float has not yet changed.

In [22]:
df.dtypes

rating          float64
review_count    float64
isbn             object
booktype         object
author_url       object
year            float64
genre_urls       object
dir              object
rating_count    float64
name             object
dtype: object

In [25]:
print(np.sum(df.year.isnull()))
df.shape # We removed seven rows

0

(5993, 10)

<div class="exercise"><b>Exercise 3</b></div>

Ok so lets fix those types. Convert them to ints. If the type conversion fails, we now know we have further problems.

In [31]:
# Convert 'review_count' and 'rating_count' to integers
try:
    df['review_count'] = df['review_count'].astype(int)
    df['rating_count'] = df['rating_count'].astype(int)
    print("Conversion to integers successful for 'review_count' and 'rating_count'")
except ValueError as e:
    print("Conversion failed: ", e)

# Convert 'year' to integer
try:
    df['year'] = df['year'].astype(int)
    print("Conversion to integer successful for 'year'")
except ValueError as e:
    print("Conversion failed: ", e)

Conversion to integers successful for 'review_count' and 'rating_count'
Conversion to integer successful for 'year'

Once you do this, we seem to be good on these columns (no errors in conversion). Lets look:

In [27]:
df.dtypes

rating          float64
review_count      int32
isbn             object
booktype         object
author_url       object
year              int32
genre_urls       object
dir              object
rating_count      int32
name             object
dtype: object

Sweet!

Some of the other colums that should be strings have NaN.

In [32]:
df.loc[df.genre_urls.isnull(), 'genre_urls']=""
df.loc[df.isbn.isnull(), 'isbn']=""

##  Part 2: Parsing and Completing the Data Frame 

We will parse the `author` column from the author_url and `genres` column from the genre_urls. Keep the `genres` column as a string separated by '|'.

We will use panda's `map` to assign new columns to the dataframe.

Examine an example `author_url` and reason about which sequence of string operations must be performed in order to isolate the author's name.

In [33]:
#Get the first author_url
test_string = df.author_url[0]
test_string

'https://www.goodreads.com/author/show/153394.Suzanne_Collins'

In [34]:
#Test out some string operations to isolate the author name

test_string.split('/')[-1].split('.')[1:][0]

'Suzanne_Collins'

<div class="exercise"><b>Exercise 4</b></div>

Lets wrap the above code into a function which we will then use

In [38]:
# Write a function that accepts an author url and returns the author's name based on your experimentation above
def get_author(url):
    # your code here
    name =  url.split('/')[-1].replace('_', ' ').replace('-', ' ').replace('.', ' ')
    
    return name

In [39]:
#Apply the get_author function to the 'author_url' column using '.map' 
#and add a new column 'author' to store the names
df['author'] = df.author_url.map(get_author)
df.author[0:5]

0    153394 Suzanne Collins
1       1077326 J K Rowling
2    941441 Stephenie Meyer
3           1825 Harper Lee
4          1265 Jane Austen
Name: author, dtype: object


Now parse out the genres from `genre_url`.  

This is a little more complicated because there be more than one genre.

In [ ]:

df.genre_urls.head()

In [40]:
#Examine some examples of genre_urls

#Test out some string operations to isolate the genre name
test_genre_string=df.genre_urls[0]
genres=test_genre_string.strip().split('|')
for e in genres:
    print(e.split('/')[-1])
    "|".join(genres)

young-adult
science-fiction
dystopia
fantasy
science-fiction
romance
adventure
book-club
young-adult
teen
apocalyptic
post-apocalyptic
action

<div class="exercise"><b>Exercise 5</b></div>

Write a function that accepts a genre url and returns the genre name based on your experimentation above

In [42]:
def split_and_join_genres(url):
 # Split the URL by '/' to separate different parts
    parts = url.split('/')

    # Filter out empty strings and irrelevant parts
    genre_parts = [part for part in parts if part and part not in ['genres', 'goodreads']]

    # Join the filtered parts to form the genre name
    genre_name = ', '.join(genre_parts).replace('-', ' ').replace('_', ' ')

    return genre_name

# Example usage
genre_url_example = '/genres/science-fiction/fantasy/dystopia'
genre_name = split_and_join_genres(genre_url_example)
print(genre_name)

science fiction, fantasy, dystopia

Test your function

In [43]:
split_and_join_genres("/genres/young-adult|/genres/science-fiction")

'young adult|, science fiction'

In [44]:
split_and_join_genres("")

''

This question is primarily aimed at graduate students, serving as a critical part of their assignment. However, undergraduate students are encouraged to take this on as an optional bonus challenge.
<div class="exercise"><b>Exercise 6</b></div>
Use map again to create a new "genres" column

In [47]:

# Ensure the split_and_join_genres function is defined as earlier
def split_and_join_genres(url):
    # Your previously defined code here

# Use map to apply the function to each entry in the "genre_urls" column
    df['genres'] = df['genre_urls'].map(split_and_join_genres)

# Display the first few rows of the dataframe to check the new column
    df.head()

Finally, let's pick an author at random so we can see the results of the transformations.  Scroll to see the `author` and `genre` columns that we added to the dataframe.

In [48]:
df[df.author == "Marguerite_Yourcenar"]

Empty DataFrame
Columns: [rating, review_count, isbn, booktype, author_url, year, genre_urls, dir, rating_count, name, author]
Index: []

Let us delete the `genre_urls` column.

In [ ]:
del df['genre_urls']

And then save the dataframe out!

In [52]:
df.to_csv("data/cleaned-goodreads.csv", index=False, header=True)

OSError: Cannot save file into a non-existent directory: 'data'

---

## Part 3: Grouping

It appears that some books were written in negative years!  Print out the observations that correspond to negative years.  What do you notice about these books?

In [ ]:
df[df.year < 0].name
#These are books written before the Common Era (BCE, equivalent to BC).

We can determine the "best book" by year! For this we use Panda's `groupby()`. `Groupby()` allows grouping a dataframe by any (usually categorical) variable. Would it make sense to ever groupby integer variables? Floating point variables?

In [ ]:
dfgb_author = df.groupby('author')
type(dfgb_author)

Perhaps we want the number of books each author wrote

In [ ]:
dfgb_author.count()

Lots of useless info there. One column should suffice

### Exercise:

- Group the dataframe by `author`. Include the following columns: `rating`, `name`, `author`. For the aggregation of the `name` column which includes the names of the books create a list with the strings containing the name of each book. Make sure that the way you aggregate the rest of the columns make sense! 

- Create a new column with number of books for each author and find the most prolific author!

In [ ]:
###### Before we start : what do we do about these titles where 'name' is unreadable? Try different encodings?
auth_name = 'A_id_al_Qarni'
df[df.author == auth_name].head()

In [ ]:
df[df.author == auth_name].iat[0,8].encode('UTF-16')

In [ ]:
# let's examine the columns we have
df.columns

Create the GroupBy table

In [ ]:
authors = df.copy()
authors = authors[['rating','name','author']].groupby('author').agg({'rating' : np.mean,
                                                                    'name' : '|'.join})

In [ ]:
authors = authors.reset_index()
authors.head()

In [ ]:
# split the column string and make a list of string book names
authors['name'] = authors.name.str.split('|')
authors.head()

In [ ]:
# count the books - create new column
len(authors.name[0])

In [ ]:
authors['num_books'] = authors['name'].str.len()
authors

In [ ]:
# sort for more prolific
authors.sort_values(by='num_books', ascending=False).iloc[0]

#### Winner is Stephen King with 56 books! OMG!!!

Perhaps you want more detailed info...

In [ ]:
dfgb_author[['rating', 'rating_count', 'review_count', 'year']].describe()

You can also access a `groupby` dictionary style.

In [ ]:
ratingdict = {}
for author, subset in dfgb_author:
    ratingdict[author] = (subset['rating'].mean(), subset['rating'].std())
ratingdict

**This question is primarily aimed at graduate students, serving as a critical part of their assignment. However, undergraduate students are encouraged to take this on as an optional bonus challenge.**
<div class="exercise"><b>Exercise 7</b></div>

Lets get the best-rated book(s) for every year in our dataframe.

In [53]:
# Group the dataframe by 'year'
grouped_by_year = df.groupby('year')

# Create a dictionary to store the best-rated book(s) for each year
best_rated_books_per_year = {}

for year, group in grouped_by_year:
    # Find the highest rating in the current year's group
    highest_rating = group['rating'].max()

    # Get all books in the current year's group that have the highest rating
    best_books = group[group['rating'] == highest_rating]

    # Add the result to the dictionary
    best_rated_books_per_year[year] = best_books

# Display the best-rated book(s) for each year
for year, books in best_rated_books_per_year.items():
    print("Year:", year)
    print(books[['name', 'rating']], "\n")

Year: -1500
                       name  rating
1398  The Epic of Gilgamesh     3.6

Year: -800
                      name  rating
246  The Iliad/The Odyssey    4.01

Year: -560
                name  rating
1397  Aesop's Fables    4.03

Year: -512
               name  rating
674  The Art of War    3.92

Year: -500
                  name  rating
746  The Bhagavad Gita    4.06

Year: -458
              name  rating
1815  The Oresteia    3.96

Year: -442
         name  rating
777  Antigone    3.52

Year: -440
               name  rating
2527  The Histories    3.94

Year: -431
       name  rating
1428  Medea     3.8

Year: -429
            name  rating
629  Oedipus Rex    3.64

Year: -411
                                      name  rating
2078  The History of the Peloponnesian War    3.84

Year: -400
                name  rating
3133  Complete Works     4.3

Year: -390
         name  rating
4475  Apology    4.11

Year: -380
             name  rating
455  The Republic    3.85

Year: -370
               name  rating
4402  The Symposium    3.99

Year: -360
                name  rating
5367  Five Dialogues    4.07

Year: -350
                        name  rating
3274  The Nicomachean Ethics    3.88

Year: -29
           name  rating
596  The Aeneid    3.77

Year: 4
                                     name  rating
4717  The Seven Spiritual Laws of Success    4.04

Year: 8
               name  rating
1330  Metamorphoses    4.01

Year: 13
                                 name  rating
1752  The Day Jesus Rode Into Croydon    3.85

Year: 100
                                                   name  rating
2329  The New Oxford Annotated Bible, New Revised St...     4.3

Year: 121
                    name  rating
4843  The Twelve Caesars    4.02

Year: 130
            name  rating
1860  Holy Bible    4.45

Year: 158
                name  rating
4534  The Golden Ass    3.88

Year: 174
             name  rating
1169  Meditations    4.16

Year: 200
                    name  rating
1622  The Garden of Eden    3.75

Year: 201
                 name  rating
5404  Fe Fi FOE Comes    4.37

Year: 213
               name  rating
2564  NaÃ¯ve. Super     3.9

Year: 397
             name  rating
1393  Confessions    3.82

Year: 632
          name  rating
301  The Quran    4.37

Year: 800
        name  rating
327  Beowulf    3.38

Year: 900
                   name  rating
569  The Arabian Nights    4.04

Year: 968
                                             name  rating
4953  La BÃªte humaine (Les Rougon-Macquart, #17)    4.02

Year: 1002
                 name  rating
2567  The Pillow Book    4.04

Year: 1008
                  name  rating
852  The Tale of Genji    3.68

Year: 1010
           name  rating
5439  Shahnameh    4.52

Year: 1100
                          name  rating
1653  Rubaiyat of Omar Khayyam    4.22

Year: 1106
           name  rating
5798  The TÃ¡in    3.98

Year: 1140
                   name  rating
5831  Poema de MÃ­o Cid    3.42

Year: 1200
                 name  rating
4691  The Poetic Edda    4.24

Year: 1215
                       name  rating
3311  ÙØ«ÙÙÛ ÙØ¹ÙÙÛ    4.44

Year: 1220
                name  rating
4054  The Prose Edda    4.16

Year: 1300
                         name  rating
2863  The Imitation of Christ    4.16

Year: 1314
                                name  rating
363  Inferno (The Divine Comedy, #1)    3.96

Year: 1321
                  name  rating
132  The Divine Comedy    4.04

Year: 1348
              name  rating
913  The Decameron    3.85

Year: 1386
             name  rating
4422  Auto-da-FÃ©    4.04

Year: 1390
                                 name  rating
3272  Sir Gawain and the Green Knight    3.66

Year: 1391
                            name  rating
5542  Keep the Aspidistra Flying    3.86

Year: 1485
                   name  rating
1613  Le Morte d'Arthur    3.91

Year: 1516
        name  rating
1692  Utopia    3.46

Year: 1522
                name  rating
2266  Three Kingdoms    4.41

Year: 1532
           name  rating
384  The Prince    3.72

Year: 1572
                     name  rating
2177  The Complete Essays    4.21

Year: 1589
                  name  rating
5705  Titus Andronicus     3.7

Year: 1590
                        name  rating
774  The Taming of the Shrew    3.82

Year: 1592
        name  rating
3954  Monkey    4.04

Year: 1595
                          name  rating
161  A Midsummer Night's Dream    3.93

Year: 1597
             name  rating
1204  Richard III     3.9

Year: 1599
                       name  rating
539  Much Ado About Nothing    4.05

Year: 1600
         name  rating
2687  Henry V    3.85

Year: 1601
              name  rating
489  Twelfth Night    3.95

Year: 1602
        name  rating
3097  Hamlet    3.98

Year: 1603
        name  rating
245  Othello    3.86

Year: 1604
                name  rating
2384  Doctor Faustus    3.77

Year: 1605
          name  rating
248  King Lear    3.88

Year: 1606
                      name  rating
2454  Antony and Cleopatra    3.64

Year: 1608
            name  rating
5345  Coriolanus    3.65

Year: 1609
                      name  rating
797  Shakespeare's Sonnets    4.24

Year: 1611
            name  rating
4617  Holy Bible    4.39

Year: 1621
                           name  rating
5598  The Anatomy of Melancholy    4.21

Year: 1623
                   name  rating
283  The Complete Works     4.5

Year: 1635
                   name  rating
3200  La vida es sueÃ±o    3.98

Year: 1642
                      name  rating
4877  A Book of Five Rings    4.11

Year: 1667
              name  rating
254  Paradise Lost    3.77

Year: 1678
                       name  rating
897  The Pilgrim's Progress    3.92

Year: 1680
           name  rating
4792  The Divan    4.65

Year: 1691
                                     name  rating
3217  The Practice of the Presence of God    4.31

Year: 1719
                name  rating
392  Robinson Crusoe    3.62

Year: 1721
               name  rating
4547  Moll Flanders    3.45

Year: 1726
                   name  rating
315  Gulliver's Travels    3.52

Year: 1729
                                             name  rating
1219  A Modest Proposal and Other Satirical Works    4.03

Year: 1748
                                           name  rating
3788  Clarissa, or, the History of a Young Lady    3.28

Year: 1749
                                       name  rating
1514  The History of Tom Jones, a Foundling    3.72

Year: 1759
        name  rating
258  Candide    3.74

Year: 1767
                                                  name  rating
983  The Life and Opinions of Tristram Shandy, Gent...    3.76

Year: 1774
                             name  rating
910  The Sorrows of Young Werther    3.59

Year: 1776
                                                   name  rating
4894  The Declaration of Independence and The Consti...    4.44

Year: 1778
         name  rating
4993  Evelina    3.62

Year: 1781
                         name  rating
2537  Critique of Pure Reason    3.85

Year: 1782
                          name  rating
1215  Les Liaisons Dangereuses    4.08

Year: 1787
                                                  name  rating
1268  The Constitution of the United States of America    4.52

Year: 1790
                                 name  rating
5355  The Marriage of Heaven and Hell    4.27

Year: 1791
                          name  rating
3927  Dream of the Red Chamber    4.05

Year: 1794
                                     name  rating
773  Songs of Innocence and of Experience    4.11

Year: 1795
          name  rating
2471  The Monk    3.77

Year: 1798
                 name  rating
5300  Lyrical Ballads    3.92

Year: 1806
                         name  rating
5173  Phenomenology of Spirit    3.85

Year: 1811
                       name  rating
4818  Sense and Sensibility    4.04

Year: 1812
                                 name  rating
843  The Complete Grimm's Fairy Tales    4.29

Year: 1813
                  name  rating
4  Pride and Prejudice    4.23

Year: 1814
               name  rating
328  Mansfield Park    3.79

Year: 1815
      name  rating
3912  Emma    3.97

Year: 1817
            name  rating
3354  Persuasion    4.12

Year: 1818
            name  rating
61  Frankenstein     3.7

Year: 1819
        name  rating
637  Ivanhoe    3.71

Year: 1820
                             name  rating
3305  The Legend of Sleepy Hollow    3.94

Year: 1823
                           name  rating
587  The Night Before Christmas    4.34

Year: 1824
          name  rating
2541  Don Juan    3.79

Year: 1825
              name  rating
924  Eugene Onegin    4.03

Year: 1826
                                                  name  rating
857  The Last of the Mohicans (The Leatherstocking ...    3.67

Year: 1830
                   name  rating
617  The Book of Mormon    4.42

Year: 1831
                            name  rating
390  The Hunchback of Notre-Dame    3.93

Year: 1832
       name  rating
4317  Faust    3.98

Year: 1833
        name  rating
5250  Poetry    4.04

Year: 1834
              name  rating
3777  PÃ¨re Goriot    3.79

Year: 1835
                                                   name  rating
4191  Hymns of The Church of Jesus Christ of Latter-...    4.68

Year: 1837
                                   name  rating
4690  A Season in Hell/The Drunken Boat    4.34

Year: 1839
                    name  rating
2267  A Hero of Our Time    4.09

Year: 1840
                                  name  rating
3533  Tales of Mystery and Imagination     4.2

Year: 1841
                        name  rating
2711  The Old Curiosity Shop    3.69

Year: 1842
                                                   name  rating
4934  The pit and the pendulum and other stories (Pe...    4.12

Year: 1843
                name  rating
3607  Lost Illusions    4.14

Year: 1844
           name  rating
2114  The Raven    4.23

Year: 1845
                          name  rating
954  The Raven and Other Poems    4.27

Year: 1847
         name  rating
34  Jane Eyre    4.07

Year: 1848
                                name  rating
2866  White Nights and Other Stories    4.09

Year: 1849
         name  rating
3770  The Law     4.4

Year: 1850
         name  rating
4445  Ishmael     4.4

Year: 1851
              name  rating
5048  Paris Spleen    4.33

Year: 1852
                  name  rating
255  Uncle Tom's Cabin    3.77

Year: 1853
                                           name  rating
3043  The History of Joseph Smith by His Mother    4.37

Year: 1854
                             name  rating
1813  Walden & Civil Disobedience    3.97

Year: 1855
                name  rating
502  North and South    4.13

Year: 1856
                name  rating
4328  Song of Myself    4.17

Year: 1857
                   name  rating
1245  Les Fleurs du Mal    4.26

Year: 1859
                      name  rating
358  The Origin of Species    3.94

Year: 1860
                     name  rating
4094  Stepping Heavenward    4.27

Year: 1861
                       name  rating
537  Notes from Underground    4.14

Year: 1862
               name  rating
15  Les MisÃ©rables    4.09

Year: 1863
                                                   name  rating
5014  From the Earth to the Moon (Extraordinary Voya...    3.76

Year: 1864
                   name  rating
1516  Our Mutual Friend    4.08

Year: 1865
                                                   name  rating
13    Alice's Adventures in Wonderland & Through the...    4.05
1378                                Wives and Daughters    4.05

Year: 1866
                                                   name  rating
5101  Morning and Evening, Based on the English Stan...    4.49

Year: 1867
                                     name  rating
3079  Capital, Volume 1 (Das Kapital, #1)    4.15

Year: 1868
                               name  rating
92  Little Women (Little Women, #1)     4.0

Year: 1869
          name  rating
273  The Idiot    4.15

Year: 1870
                name  rating
4181  Complete Works    4.42

Year: 1871
                                                   name  rating
2876  Through the Looking-Glass, and What Alice Foun...    4.09

Year: 1872
            name  rating
292  Middlemarch    3.89

Year: 1873
                                name  rating
934  Around the World in Eighty Days    3.87

Year: 1874
                          name  rating
1338  The Complete Fairy Tales    4.27

Year: 1875
               name  rating
3869  Illuminations    4.42

Year: 1876
                             name  rating
102  The Adventures of Tom Sawyer    3.86

Year: 1877
                                                   name  rating
2893  L'Assommoir (The Dram Shop) (The Dram Shop) (L...    4.05

Year: 1878
                      name  rating
2962  Human, All Too Human     4.2

Year: 1879
            name  rating
5811  Sir Gibbie    4.25

Year: 1880
                      name  rating
74  The Brothers Karamazov    4.28

Year: 1881
                           name  rating
1765  The Prince and the Pauper    3.81

Year: 1882
                 name  rating
3923  The Gay Science    4.23

Year: 1883
                        name  rating
1341  Thus Spoke Zarathustra    4.03

Year: 1884
                         name  rating
2250  The Death of Ivan Ilych    3.98

Year: 1885
                                    name  rating
991  Germinal (Les Rougon-Macquart, #13)    4.05

Year: 1886
                      name  rating
1544  Beyond Good and Evil     4.0

Year: 1887
                                          name  rating
1094  A Study in Scarlet (Sherlock Holmes, #1)    4.13

Year: 1888
                              name  rating
1887      The Complete Fairy Tales    4.33
4857  The Nightingale and the Rose    4.33

Year: 1889
                     name  rating
1075  The Collected Poems    4.25

Year: 1890
        name  rating
1724  Hunger    4.11

Year: 1891
                                                   name  rating
5252  A Scandal in Bohemia (The Adventures of Sherlo...    4.22

Year: 1892
                                                 name  rating
64  The Adventures of Sherlock Holmes (Sherlock Ho...    4.27

Year: 1893
                                                   name  rating
2634  The Memoirs of Sherlock Holmes (Sherlock Holme...    4.33

Year: 1894
                 name  rating
694  The Jungle Books    3.97

Year: 1895
                                                 name  rating
2792  The Importance of Being Earnest and Other Plays    4.24

Year: 1896
                 name  rating
4282  Story of a Soul    4.36

Year: 1897
                                 name  rating
4252  De Profundis and Other Writings    4.19

Year: 1898
                      name  rating
541  The War of the Worlds    3.75

Year: 1899
                                           name  rating
5549  The Complete Works of William Shakespeare    4.62

Year: 1900
                  name  rating
4910  Selected Stories    4.35

Year: 1901
                          name  rating
2525  The Tale of Peter Rabbit    4.14

Year: 1902
            name  rating
5601  Holy Bible    4.66

Year: 1903
                      name  rating
375  The Scarlet Pimpernel    4.05

Year: 1904
                                                   name  rating
3651  The Return of Sherlock Holmes (Sherlock Holmes...    4.27

Year: 1905
                  name  rating
203  A Little Princess    4.19

Year: 1906
                                   name  rating
3963  The Unabridged Devil's Dictionary    4.15

Year: 1907
                           name  rating
3155  The Shepherd of the Hills    4.14

Year: 1908
                                                  name  rating
946  The Complete Anne of Green Gables Boxed Set (A...    4.42

Year: 1909
             name  rating
1465  Martin Eden    4.31

Year: 1910
           name  rating
4965  Gitanjali    4.33

Year: 1911
                 name  rating
39  The Secret Garden    4.09

Year: 1912
                                       name  rating
2496  Daddy-Long-Legs (Daddy-Long-Legs, #1)    4.07

Year: 1913
                                                   name  rating
3555  In the Shadow of Young Girls in Flower (In Sea...    4.39

Year: 1914
                                      name  rating
3265  Rashomon and Seventeen Other Stories     4.1

Year: 1915
                  name  rating
2466  Jesus the Christ    4.66

Year: 1916
                         name  rating
3941  The Mysterious Stranger    4.14

Year: 1917
                                                   name  rating
2200  Anne's House of Dreams (Anne of Green Gables, #5)     4.1

Year: 1918
                       name  rating
3679  The Elements of Style    4.17

Year: 1919
                            name  rating
2456  Remembrance of Things Past    4.28

Year: 1920
                    name  rating
5334  The Guermantes Way    4.33

Year: 1921
                                               name  rating
3156  Rilla of Ingleside (Anne of Green Gables, #8)    4.13

Year: 1922
                            name  rating
4980  Remembrance of Things Past    4.53

Year: 1923
                                                   name  rating
5190  Leave It to Psmith (Psmith, #4 ; Blandings Cas...    4.28

Year: 1924
                             name  rating
353  The Complete Sherlock Holmes    4.49

Year: 1925
                                                   name  rating
5546  The Captive & The Fugitive (In Search of Lost ...    4.41

Year: 1926
                              name  rating
3685  The World of Winnie-the-Pooh    4.41

Year: 1927
                                            name  rating
3952  Time Regained (In Search of Lost Time, #7)     4.5

Year: 1928
                          name  rating
1550  The House at Pooh Corner    4.35

Year: 1929
                         name  rating
4791  Letters to a Young Poet    4.35

Year: 1930
                                         name  rating
4570  The Complete Sherlock Holmes, Volume II    4.44

Year: 1931
                    name  rating
5385  The Joy of Cooking    4.15

Year: 1932
                                name  rating
871  Journey to the End of the Night    4.25

Year: 1933
                    name  rating
304  The Complete Novels    4.54

Year: 1934
                              name  rating
2191  I, Claudius/Claudius the God    4.42

Year: 1935
         name  rating
1804  Musashi    4.41

Year: 1936
                name  rating
2045  Three Comrades    4.48

Year: 1937
                          name  rating
2243  The Cost of Discipleship    4.35

Year: 1938
                     name  rating
5430  The Science of Mind    4.39

Year: 1939
                 name  rating
2038  Arch of Triumph    4.39

Year: 1940
                 name  rating
75  The Little Prince    4.23

Year: 1941
                     name  rating
5821  Ø¹Ø¨ÙØ±ÙØ© Ø¹ÙØ±    4.25

Year: 1942
                  name  rating
5953  The Little House    4.27

Year: 1943
                       name  rating
2958  KÃ¼rk Mantolu Madonna    4.55

Year: 1944
          name  rating
804  Ficciones    4.48

Year: 1945
                             name  rating
2488  The Aleph and Other Stories    4.41

Year: 1946
                      name  rating
1848  The Complete Stories    4.34

Year: 1947
                       name  rating
1309  Survival in Auschwitz    4.32

Year: 1948
                  name  rating
4517  King of the Wind    4.17

Year: 1949
         name  rating
5925  Paroles    4.27

Year: 1950
                                                   name  rating
1950  à®ªà¯à®©à¯à®©à®¿à®¯à®¿à®©à¯ à®à¯à®²à¯à®µ...    4.71

Year: 1951
                                          name  rating
484  The Foundation Trilogy (Foundation, #1-3)    4.37

Year: 1952
            name  rating
5726  Holy Bible    4.55

Year: 1953
                                     name  rating
5517  The Flight of the Feathered Serpent    4.55

Year: 1954

                                                  name  rating
1484  The Harry Potter Collection (Harry Potter, #1-4)    4.63

Year: 2000
                        name  rating
1385  Standing for Something    4.64

Year: 2001
                                                  name  rating
1340  A Storm of Swords (A Song of Ice and Fire, #3-1)     4.5

Year: 2002
            name  rating
3496  Way to Be!    4.62

Year: 2003
                                  name  rating
4629  The Complete Far Side, 1980-1994    4.66

Year: 2004
                   name  rating
4651  Ù¾ÛØ±Ù Ú©Ø§ÙÙ    4.58

Year: 2005
                               name  rating
249  The Complete Calvin and Hobbes     4.8

Year: 2006
                                     name  rating
5313  Warriors Boxed Set (Warriors, #1-3)    4.67

Year: 2007
                 name  rating
1853  ESV Study Bible    4.76

Year: 2008
                              name  rating
4084  The Absolute Sandman, Vol. 4    4.75

Year: 2009
                          name  rating
1781  Black Dagger Brotherhood    4.69

Year: 2010
                     name  rating
2920  The Years Distilled    4.93

Year: 2011
                name  rating
2909  Family Secrets     5.0

Year: 2012
                                                   name  rating
2145                   A Book About Absolutely Nothing.     5.0
2903              Obscured Darkness (Family Secrets #2)     5.0
4473                                    Patience's Love     5.0
5692  Abstraction In Theory - Laws Of Physical Trans...     5.0

Year: 2013
             name  rating
3712  Blade Heart    4.93

Year: 2014
                                      name  rating
1718            An Elephant Is On My House     5.0
5564  Untainted (Photographer Trilogy, #3)     5.0